.DS_Store
.classpath
.project
.pmd
.checkstyle
*.iml
*.ipr
*.iws
*.log
build.browser.properties
.idea/
.vscode/*
out/
.sonar/
.settings/
.gradle/
target/
build/
bin/
classes/
generated/
__generated__/
!generated/.openapi-generator-ignore
*.zip
*.class

structurizr*.json

#antora entries
node_modules/
.cache/
npm-cache/
